@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: "Montserrat", sans-serif;
}

button {
    font-family: "Roboto Mono", sans-serif;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    @apply bg-gray-200/10;
}

::-webkit-scrollbar-thumb {
    @apply bg-amber-500/75;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-amber-600;
}
